:root{
  /*Light Theme*/
  --primary-blue: #085398; /* Darker, richer blue */
    --light-blue: #cce4ff;
    --accent-blue: #3b82f6; /* Richer accent blue */
    --highlight-green: #171a18; /* Highlight color */
    --background-light: #ffffff;
    --text-light: #212529;
    --other:#ffa500;
    
    --primary-blue-dark: #004085; /* Darker, richer blue */
    --dark-blue: #00264d;
    --accent-blue-dark: #1d4ed8; /* Richer accent blue */
    --highlight-green: #2ecc71; /* Highlight color */
    --background-dark: #121212;
    --text-dark: #e1e1e1;
}
*{
  padding:0;
  margin: 0;
  
  box-sizing: border-box;
}
body{

  width: 100vw;
  overflow-x: hidden;
}
.loginpage{
  transition: 3s ease-in;
  background-blend-mode: darken;
  background:  url('./images/bg.jpg'), rgba(0,0,0,0.4); /* Ensure the path is correct */
  backdrop-filter: blur(125px); 
  background-size: 100vw 100vh; /* Adjust based on your needs */
  background-blend-mode: darken;
  background-position: center; /* Adjust based on your needs */
}
.registerpage{
 
    background-blend-mode: darken;
    background:  url('./images/bg2.jpg'), rgba(0,0,0,0.6); /* Ensure the path is correct */
    backdrop-filter: blur(125px); 
    background-size: 100vw 100vh; /* Adjust based on your needs */
    background-blend-mode: darken;
    background-position: center; /* Adjust based on your needs */
  
}
.centerMargin{
  margin: 0 auto  !important;
}
.logoDown {
  position: relative;
}

.logoDown::before,
.logoDown::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* 1px spacing below */
  width: 50%;
  height: 4px; /* Increased height for better visibility */
  background-color: white; /* Change color as needed */
}

.logoUp::before,
.logoUp::after {
  content: '';
  position: absolute;
  left: 70px;
  top:-3px; /* 10px spacing above */
  width: 50%;
  height: 4px; /* Increased height for better visibility */
  background-color: white; /* Change color as needed */
}

.logoDown::before {
  transform: scaleX(0); /* Initially hide the logoDown */
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.logoDown::after {
  transform: scaleX(1); /* Show the logoDown */
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.logoUp::before {
  transform: scaleX(0); /* Initially hide the logoUp */
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.logoUp::after {
  transform: scaleX(1); /* Show the logoUp */
  transform-origin: top right;
  transition: transform 0.3s ease;
}

.logoDown:hover::before {
  transform: scaleX(1); /* Expand the logoDown on hover */
}

.logoDown:hover::after {
  transform: scaleX(0); /* Hide the logoDown on hover */
}

.logoUp:hover::before {
  transform: scaleX(1); /* Expand the logoUp on hover */
}

.logoUp:hover::after {
  transform: scaleX(0); /* Hide the logoUp on hover */
}
input::placeholder{
  color: #4e5861 !important;
}
.ant-menu-item-icon{
color: #2ecc71 !important;
}
.slick-dots button{
  background-color: #00264d!important;
}
.slick-arrow{
  color: #00264d!important;
}